html,body{
  margin:0px;
  width:100%;
  height:100%;
}
body{
  user-select:none;
  background-color: green;
  overflow: hidden;
  position: relative;
}
.main{
  width: 100%;
  height: 100%;
  position: fixed;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  z-index: 100;
}
#button{
  position: fixed;
  z-index: 1000;
  width:100px;
  height: 100px;
  background: linear-gradient(to bottom, #000, #000010,rgba(0,0,50,1),rgba(0,0,70,1));
  border-radius: 100%;
  cursor:pointer;
}
.back{
  z-index: 50;
}
@media (min-width:800px){
  .main{
    transform-origin: left center;
  }
  .disable{
    transform: rotateY(-180deg);
    opacity: 0.4;
  }
  #button{
    top:50%;
    right: -50px;
    transform:translateY(-50%);
  }
}
@media (max-width:800px){
  .main{
    transform-origin: center top;
  }
  .disable{
    transform: rotateX(-180deg);
    opacity: 0.4;
  }
  #button{
    bottom:-50px;
    left: 50%;
    transform:translateX(-50%);
  }
}
