#main2{
  background: linear-gradient(to bottom, #000, #000010,#000030);
}
.santa{
  position: absolute;
  background-size: cover;
  animation: move3 ease-in-out 10s 1 normal;
  filter: drop-shadow(0px 0px 30px #ffffff);
  opacity: 0;
}
@keyframes move1 {
    0% {opacity: 0; left: 0%; transform: translate(0,500px) rotate(-45deg); }
    50% {opacity: 1; transform: translate(-50%,-50%) rotate(0) scale(2); }
    100% {opacity: 0; left: 100%; transform: translate(0,500px) rotate(45deg); }
}
@keyframes move2 {
    0% {opacity: 0; left: 0%; transform: translate(-50%,-50%) rotate(0); }
    50% {opacity: 1; transform: translate(-50%,-50%) rotate(0); }
    100% {opacity: 0; left: 100%; transform: translate(-50%,-50%) rotate(0); }
}
@keyframes move3 {
    0% {opacity: 0; left: 0%; transform: translate(0,-500px) rotate(45deg); }
    50% {opacity: 1; transform: translate(-50%,-50%) rotate(0); }
    100% {opacity: 0; left: 100%; transform: translate(0,500px) scale(1.5) rotate(45deg); }
}
@keyframes move4 {
    0% {opacity: 0; left: 0%; transform: translate(0,500px) scale(1.5) rotate(-45deg); }
    50% {opacity: 1; transform: translate(-50%,-50%) rotate(0); }
    100% {opacity: 0; left: 100%; transform: translate(0,-500px) rotate(-45deg); }
}

.star{
  position: absolute;
  background: url("images/star.png");
  background-size: cover;
  transition:0.5s;
  animation: twinkle ease-in-out 1s infinite alternate;
}
.shadow_yellow{
  filter: drop-shadow(0px 0px 30px #f0ff00);
}
.shadow_skyblue{
  filter: drop-shadow(0px 0px 30px #00c2ff);
}
.shadow_blue{
  filter: drop-shadow(0px 0px 30px #3700e7);
}
.shadow_purple{
  filter: drop-shadow(0px 0px 30px #cb49c1);
}

@keyframes twinkle {
    0% { transform: scale(0.5) rotate(3deg); }
    100% { transform: scale(1) rotate(-3deg); }
}
