#main1{
  background-color: green;
}
.tree_back{
  position: absolute;
  width:110%;
  height:40%;
  background-size:cover;
  left:50%;
  background-position-y: bottom;
  animation: wind ease-in-out 1s infinite alternate;
}
@keyframes wind {
    0% { transform: translateX(-50%) skewx(3deg); }
    100% { transform: translateX(-50%) skewx(-3deg); }
}
.ball{
  transition: 0.5s ease-in-out;
  position: absolute;
  border-radius: 100%;
}
.LED{
  transition: 0.5s ease-in-out;
  position: absolute;
  border-radius: 100%;
  background-image: url(images/star.png);
}
.cane{
  transition: 0.5s ease-in-out;
  position: absolute;
  background-image: url(images/cane.png);
  background-size: cover;
}
.snow{
  transition: 0.5s ease-in-out;
  position: absolute;
  background-image: url(images/snow1.png);
  background-size: cover;
}
.swing {
animation: swing ease-in-out 1s infinite alternate;
transform-origin: center -40px;
filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
z-index: 1;
}
.swing:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 25px;
  top: -40px;
  left: 50%;
  z-index: 5;
  border-radius: 50%;
  border:1px solid #999;
  transform:translateX(-50%);
}
.swing:before{
  content: '';
  position: absolute;
  width: 1px; height: 15px;
  border-left: 1px solid #999;
  top: -14px; left: 50%;
  transform:translateX(-50%);
  z-index: 0;
}
.strong-swing {
  animation: gmsemf ease-in-out 0.5s infinite alternate;
}
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes gmsemf {
    0% { transform: translateX(0px); }
    33% { transform: translateX(-10px); }
    66% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
}
